{{ define "title" -}}
{{ .Title | title }}
{{- end }}
{{ define "main" -}}
{{ .Content }}
{{- if .RegularPages}}
<h2>Most recent:</h2>
{{- range.Pages | first 3 }}
{{ partial "postlist" . }}
{{- end }}
{{- end }}
{{- if .RegularPages}}
<div id="list">
<h2>All posts:</h2>
<ul>
{{- range.Pages }}
<li>
	{{ .Date.Format "2 Jan 2006" }} - <a href="{{ .RelPermalink }}">{{ .Title }}</a>
</li>
{{- end }}
</ul></div>
{{- end }}
{{- if not .RegularPages}}
<div id="list">
<h2>All tags:</h2>
<p>Browse per categories:</p>
<ul>
{{- range.Pages }}
<li>
	<a href="{{ .RelPermalink }}">{{ .Title }}</a>
</li>
{{- end }}
</ul></div>
{{- end }}
{{- end }}
