@charset "UTF-8";

:root {
    /* theme */
    --text-color: #f7f7f7;
    --bg-color: #222430;
    --theme-color: #bd93f9;
    --info-color: #999;
    --quote: #683da3;
    --code: #bd93f9;;
  }

html,
body {
    font-family: monospace;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 16pt;
    line-height: 1.4;
    padding-bottom: 3vh;
}

table{ border-collapse: collapse;}

.lay{
    width: 66vw;
    margin: auto;
}

.lay td, th{
    padding-left: 7px;
    padding-right: 7px;
}

.inter{
    width: 70vw;
    margin: auto;
    padding-top: 0;
    padding-left: 16vw;
    font-size: larger;
}

.head{
    width: 70vw;
    margin: auto;
    font-size: 19pt;
}

.footer{
    width: 70vw;
    padding-top: 12px;
    margin: auto;
    text-align: center;
    font-size: 19pt;
}

#logo{
    padding-right: 12px;
}

.postinfo{
    font-style: italic;
    font-size: smaller;
    color: var(--info-color);
}

.main{
    width: 60vw;
    margin-left: 6vw;
}

.tdate{
    width:25%;
}

.list th{
    color: var(--bg-color);
    border: 0;
    background: var(--theme-color);
}

.list{
    margin-bottom: 35px;
    margin-top: 35px;
}

pre{
	border: solid  var(--code);
}

code{
    color: var(--code);
    font-weight: bold;
}

blockquote{
	border-left: 6px solid var(--theme-color);
	padding: 1em;
	background-color: var(--quote)
}

.toc {
width:30vw;
position: relative;
position: sticky;
top: 20vh;
float: right;
}

.toc ul{
    list-style: none;
}

.toc h3{
    border-bottom: 2px solid var(--theme-color);
}

a{    
      text-decoration:none;
      color: var(--theme-color);
}

.burger{
    float: right;
    visibility: hidden;
    cursor: pointer;
}

.togCheck {
   display: none;
 }
 
.togContent {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  display: none;
}

@media only screen and (max-width: 980px), (orientation: portrait){

    html
    body{
        padding-top:30px;
        font-size: 10pt;
    }

    .head .nextprev{
        visibility: collapse;
    }

    .tdate{
        width:35%;
    }

    .main{
        width: 95vw;
        margin-left: 0;
        margin: auto;
    }

    .lay{
        width: 95vw;
        margin: auto;
    }

    .inter{
        width: 95vw;
        margin: auto;
        padding-left: 0;
        font-size:medium;
    }

    .footer{
        font-size: 11pt;
        width: 95vw;
    }
    
    .head{
        width: 100vw;
        position: fixed;
        top:0;
        left: 0;
        padding-left: 3vw;
        background-color: var(--bg-color);
        font-size: 11pt;
    }

    .head img{
        visibility: collapse;
        position: fixed;
        top: -90;
    }

    .toc {
        width:80vw;
        position: absolute;
        float: none;
        visibility: collapse;
        }

    .burger{
    visibility:visible;
    font-size: 25px;
    margin-top: -8px;
    margin-right: 10vw;
}

/* (A) HIDE CHECKBOX */
.togCheck { display: none; }
 
/* (B) HIDE CONTENT BY DEFAULT */
.togContent {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  display: none;
}

/* (C) SHOW CONTENT WHEN CHECKED */
.togCheck:checked + .togContent {
    max-height: 100vh; /* any insanely large number if a lot of contents */
    opacity: 1;
    visibility: visible;
    display:block;
  }

.togContent .toc {
        width:95vw;
        position: relative;
        top: 0;
        float: left;
        visibility: visible;
        margin-bottom: 6px;
}

}